{% load static %}
<!DOCTYPE html>
  <html lang="en">
    <title>Tachyon Baseball</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    </style>
    <body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    {% if user.is_authenticated %}
      <a href="/home/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="/search/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SEARCH</a>
      <a href="{% url 'profile' request.user.username %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">{{ request.user.username }}</a>
      <a href="/confirm_logout/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOGOUT</a>
    {% else %}
      <a href="/home/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="/login/" class="w3-bar-item w3-button w3-padding-large">LOGIN</a>
      <a href="/register/" class="w3-bar-item w3-button w3-padding-large">REGISTER</a>
    {% endif %}
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'images/mlb5.jpg' %}" alt = "My image" style="width:100%">
    
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'images/mlb6.jpg' %}" style="width:100%">
    
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'images/mlb7.jpg' %}" style="width:100%">
    
  </div>

  <!-- Intro Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="intro">
    <h2 class="w3-wide">Tachyon Baseball</h2>
    <p class="w3-opacity"><i>Machine Learning</i></p>
    <p class="w3-justify"> This website predicts several metrics from MLB Data. Future updates will include a wider range of data to explore. </p>
  </div>
  
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <p class="w3-medium">Powered by <target="_blank">w3.css and Bulma</a></p>
</footer>

<script>
// Automatic Slideshow - change image every 5 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 5000);    
}

</script>

</body>
</html>
