{% load static %}
<!DOCTYPE html>
  <html lang="en">
    <title>Tachyon Baseball</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    </style>
    <body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/home/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="/search/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SEARCH</a>
      <a href="{% url 'profile' request.user.username %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">{{ request.user.username }}</a>
      <a href="/confirm_logout/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOGOUT</a>
    </div>
  </div>
</div>
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="zero">
</div>
<div class="columns">
    <div class="column is-one-quarter"></div>
    <div class="column">
        </br>
        {% for image in images %}
        <div class="box">
            <article class="media">
                <figure class="media-left">
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ image.get_name }}</strong><small>{{ image.timestamp }}</small>
                      <br>
                      <strong>{{ image.name }}<strong>
                      <br>
                      <strong>{{ image.date1 }} to {{ image.date2 }}<strong>
                      <br>
                      <strong>{{ image.pitches }}<strong>
                      <br>
                      <strong>{{ image.type }}<strong>
                      <br>
                      <img src= "{% static image.img %}">
                    </p>
                  </div>
                </div>
            </article>
        </div> 
        {% endfor %}

    </div>
    <div class="column is-one-quarter"></div>
</div>

